* {
    -fx-red: #E63946;
    -fx-white: #F1FAEE;
    -fx-green: #A8DADC;
    -fx-light-blue: #457B9D;
    -fx-dark-blue: #1D3557;
}

.isciButton:hover {
    -fx-cursor: hand;
 }

.flightAnchor {
    -fx-border-radius: 20px;
    -fx-border-width: 2px;
    -fx-border-color: -fx-dark-blue;
    -fx-background-radius: 20px;
    -fx-background-color: -fx-white;
}

.flightAnchor:hover {
    -fx-background-color: -fx-light-blue;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: -fx-white;
    -fx-effect: null;
}

.tab:selected, .vbox {
    -fx-background-color: -fx-green;
}

.tab {
    -fx-background-color: -fx-white;
}

.tab:hover {
    -fx-cursor: hand;
}

.rootAnchor {
    -fx-background-color: -fx-dark-blue;
}

.order-vbox {
    -fx-border-radius: 20px;
    -fx-border-color: -fx-dark-blue;
    -fx-background-color: -fx-white;
    -fx-background-radius: 20px;
}